input:focus , a:focus{ 
    box-shadow: none !important;
}
 a:focus{ 
    box-shadow: none !important;
}
input:focus{ 
    box-shadow: none !important;
}
button:focus{ 
    box-shadow: none !important;
}